/* en vrac :
100% 100% 100% 0 auto border-box box-sizing 
display height flex flex none margin 
max-width width width
*/ 
img {
  /* image responsive, largeur maxi */
  /* hauteur "auto" */
  max-width: 100%;
  height: auto;
}
.carrousel_parent-ecrans {
  /* aligne horizontalement les enfants */
  /* largeur du parent */
  display: flex;
  width: 100%;
  overflow-x: scroll; /* permet de scroller horizontalement */
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}


.carrousel_ecran { 
  /* largeur du parent pour chaque enfant */
  /* permet de garder toute la largeur du parent */
  width: 100%;
  flex: none; 
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carrousel_ecran figure {
  /* enlève les marges par défaut */
  margin: 0;
}
.carrousel {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; 
  position: relative;
}
  
.carrousel_btn {
  position: absolute;
  top: 50%;
  top: calc(
    min(500px, 100vw) / 16 * 9 / 2 + 1rem
  ); /* centre verticalement ~50% vertical */
  transform: translateY(-50%); /* methode du point mort */
  width: 3rem;
  height: 3rem;
  background: #B9861F;
  border-radius: 60%;
  border: none;
  display: grid;
  place-content: center;
  color: #000000;
  position: absolute;
  top: 50%; /* Centrer verticalement */
  transform: translateY(-50%);
}
  
.carrousel_btn-avant {
  left: 10px;
}
  
.carrousel_btn-apres {
  right: 10px;
}
.caroussel_liste-liens {
  display: flex; /* aligne horizontalement les enfants */
  justify-content: center; /* centre horizontalement les enfants */
  margin: 0; /* enlève les marges par défaut */
  padding: 0; /* enlève les padding par défaut */
  list-style: none; /* enlève les puces par défaut */
  gap: 10px; /* espace entre les enfants */
}
.actif{
  color: rgb(0, 17, 255);
}
body {
  background-color: #482683; /* Remplacez par la couleur que vous voulez */
}

.carrousel {
  /* Ajout d'un cadre */
  border: 5px solid #000; /* Remplacez #000 par la couleur que vous voulez pour le cadre */

  /* Modification de la forme */
  border-radius: 10px; /* Remplacez 10px par la valeur que vous voulez pour arrondir les coins */

  /* Ajout d'une ombre pour donner un effet de profondeur */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Remplacez les valeurs pour ajuster l'ombre */
}

h1 {
  color: #B9861F; /* Remplacez #fff par la couleur que vous voulez pour le texte */
}
